<h2 class="subtitle">Home</h2>

<% page.posts.each(function(item, index){ %>
  <%- partial('_partial/articleflow', {item: item, index: index, page:page.current}) %>
<% }); %>

<% if (page.next) { %>
<nav id="pagination" class="more-posts">
    <a href="<%- config.root %><%- page.next_link %>" class="alignright next"><%= __('more_posts') %></a>
    <div class="clearfix"></div>
</nav>
<% } %>
