<head>
  <link rel="stylesheet" href="<%- config.root %>css/style.css" media="screen" type="text/css">
  <link rel="stylesheet" href="/css/proj.min.css">
  <title>myicons | your flat icons manager and font builder</title>
  <%- partial('google_analytics') %>
</head>
<body id="myicons">
<div class="wrapper">
<%- page.content %>
</div>
</body>
