#header
  font-family font-serif
  background-repeat no-repeat
  .alt
    display none
    text-transform uppercase
    a
      color color-title-back

  &.simple
    height 150px
    background-image url(/img/logo-gray.png)
    .alt 
      display block
    .main
      display none

  @media screen
    height 560px
    padding-top 20px
    background-image url(/img/ballon.png)
    background-position right bottom
  @media (max-width: 960px) 
    height 150px
    background-image url(/img/logo-gray.png)
    .alt 
      display block
    .main
      display none



  #main-nav
    font-family font-title
    line-height 2.5em
    a 
      color color-title-back
      border-bottom 2px solid #aaa
      &:hover
        border-bottom 2px solid #666
    ul
      list-style none
      li
        float left
        margin-left 30px


  h2
    font-weight 100
    color color-link
