#myicons
  color #999
  background #fff
  text-align center

  *
    box-sizing border-box

  a
    color #666
    text-decoration underline

  b
    font-weight normal
    color #666
      

  .wrapper
    width 720px
    margin 0 auto

  .myicons-header
    margin-top 40px

  .myicons-title
    font-size 34px
    color #666

  .myicons-subtitle
    font-size 24px
    color #aaa

  .myicons-logo
    height 240px
    font-size 200px
    color #25293B


  .abstract
    color #aaa
    padding 20px 100px

  .github-links
    font-size 20px

    i.icon-github
      font-size 30px
      vertical-align middle
      margin-bottom 10px

    a
      color #25293B
      text-decoration none

  .main-features
    margin-top 20px
    border-top 1px solid #eee
    padding 20px 0
    color #666


    .features
      .feature
        width 33.3%
        height 240px
        float left

        .feature-logo
          height 100px
          font-size 80px
          padding 10px 0
          color #333

        .feature-detail
          padding 0 20px
          h3
            color #333
            font-size 18px
            font-weight normal
            
  .big-arrow
    font-size 80px
    padding 25px 0
    color #ccc

  .more-features
    overflow hidden
    text-align left

    .feature-block
      overflow hidden
      float left
      width 50%
      padding 5px

      dt
        color #333
        margin-bottom 5px

      dd
        font-size 14px
        margin-bottom 5px

      .feature-icon
        display inline-block
        float right
        width 80px
        height 70px
        font-size 50px
        text-align center
        color #333

        &.icon-clear, &.icon-font-file
          font-size 60px

  .screenshots
    margin 20px

    h3
      color #666
      font-weight normal

    img
      margin 5px
      border 2px solid #333
      border-radius 3px
      width 100px
      height 71px
      overflow hidden

  .get-started
    margin-top 30px
    border-top 1px solid #eee
    padding 20px

    p
      margin 10px

    .start-button
      display inline-block
      padding 10px
      width 280px
      color #fff
      text-decoration none
      background #25293B
      border-radius 3px

  .donation
    margin-top 30px
    padding 40px 80px

    .donate-logo
      font-size 100px
      color #25293B

    .title
      color #666
      font-size 32px
      margin 20px 0
      margin-top 0

      b
        color #333

    .entry
      width 50%
      float left

    .pay-title
      font-size 28px
      color #25293b
      text-decoration none

      i
        font-size 40px
        width 52px
        margin-bottom 10px
        vertical-align middle

      i.icon-paypal
        font-size 48px

  #footer
    margin-top 40px
    border-top 1px solid #eee

    .links
      font-size 22px
