.subtitle
  color color-meta
  font-weight normal
  margin-bottom 5px
  text-shadow 0 0 1px #fff
  &:before
    font-family font-icon
    content '\f015'
    padding-right 15px

  &.article-title
    &:before
      content '\f15b'

  &.archive, &.archive-title
    &:before
      content '\f073'

  &.tag
    &:before
      content '\f02b'

  &.category
    &:before
      content '\f07b'


