// Color
color-background = #eee
color-font = #444
color-meta = #666
color-border = #ddd
color-link = #FFA327
color-banner = #fff
color-title-back = #333
color-title-front = color-link
color-title-hover = #FFCCCC

// Font
font-default = "Coda","Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Coda", "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Coda", Helvetica Neue, Helvetica, Arial, sans-serif

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'
font-path = 'font/Coda-Regular'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

@font-face {
  font-family 'Coda'
  font-style normal
  font-weight normal
  src url(font-path.ttf) format('truetype') 
}


// Width
page-width = 1200px
